*,
*:before,
*:after {
	box-sizing: border-box;
	font-family: inherit;
}

.layout {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.post {
	h1 {
		margin-bottom: 1rem;
	}

	.meta {
		font-size: 0.8rem;
		margin-bottom: 4rem;
	}

	img + h1 {
		margin-top: 1rem;
	}
}

li {
	margin-bottom: 0.25rem;
}

@media (min-width: 48rem) {
	.icon-link::before {
		left: -1.5rem;
	}
}

.icon-link:hover::before {
	opacity: 1;
}


