body {
	line-height: 1.5;
}

@media (min-width: 48rem) {
	body {
		font-size: 1.125rem;
	}
}

@media (min-width: 80rem) {
	body {
		font-size: 1.25rem;
	}
}

ul {
	list-style-type: square;
	padding-left: 1.5rem;
}

ul ul {
	list-style-type: circle;
}

ul::marker {
	color: var(--accent);
}
